<h1>My Datasheet</h1>
<div class="row">
  {{#each products.custom_field}}
     <div class="col s12 m4">
         <div class="card">
             <div class="card-content center-align">
                 <h5>{{name}} - {{value}}</h5>
             </div>
         </div>
     </div>
  {{else}}
   <p>No Datasheets found</p>
  {{/each}}
</div>